SERVICE_NAME=${SERVICE_NAME}

# AWS
AWS_REGION=${AWS_REGION}
AWS_SNS_REGION=${AWS_SNS_REGION}

# Database config
DATABASE_URL=${DATABASE_URL}

# Redis Config
REDIS_HOST=${REDIS_HOST}
REDIS_PORT=${REDIS_PORT}
REDIS_PASSWORD=${REDIS_PASSWORD}

# JWT Config
JWT_SECRET_KEY=${JWT_SECRET_KEY}
JWT_EXPIRATION_TIME=${JWT_EXPIRATION_TIME}
JWT_REFRESH_SECRET_KEY=${JWT_REFRESH_SECRET_KEY}
JWT_REFRESH_EXPIRATION_TIME=${JWT_REFRESH_EXPIRATION_TIME}